.logo-txt-upgrade-page {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.config-box {
  background: white;
  padding: 30px;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 12px;
  color: white;
  padding-top: 2.3rem;
  margin-bottom: 2rem;
}

.config-info {
  padding: 11px;
  color: black;
}

.config-btn {
  border: none;
  background: -webkit-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
  box-shadow: 2.419px 9.703px 12.48px 0.52px rgb(232 58 153 / 50%);
  width: auto;
  padding: 0 45px;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.config-info h4 {
  font-size: 26px;
}

.config-info p {
  padding: 0.6rem 0rem 0.8rem 0rem;
  color: #646363;
}

.footer-padding {
  margin-top: 8rem;
}

.toast-wrap {
  z-index: 999999999999;
}

.mange-country {
  background: #fff;
  max-width: 80%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 6rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#countryStock-modal-content {
  overflow: scroll;
  max-height: 60%;
  overflow-x: hidden;
}

#addCountry-modal-content {
  max-width: 50%;
  top: 15%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-heading {
  padding-top: 1.2rem;
  padding-bottom: 1.6rem;
  font-size: 36px;
  line-height: 1;
}

.countryStock-modal-item {
  margin-bottom: 1.2rem;
  background-color: #3b319e;
  color: white;
  padding: 1.2rem;
  border-radius: 10px;
}

#addCountry-popup {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

#addCountry-popup:hover {
  background: -webkit-linear-gradient(0deg, #e83a99 0%, #e2906e 100%);
}

#deleteCountry-popup {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #d180dd 0%, #796be8 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

.countries-select {
  padding-left: 12px;
}

#deleteCountry-popup:hover {
  background: -webkit-linear-gradient(0deg, #796be8 0%, #d180dd 100%);
}

.inputGroup {
  margin-bottom: 1rem;
}

.confirm-btn {
  color: white;
  font-weight: bold;
  background: #3b319e;
}

.delete-btn {
  color: white;
  font-weight: bold;
  background: #ff5959;
}

.mange-stock {
  background: #fff;
  max-width: 80%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 6rem;
}

.mange-title {
  padding-bottom: 0.8rem;
}

.add-stock-textarea {
  margin-top: 1rem;
}

#add-stock-btn {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

#add-stock-btn:hover {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #e83a99 0%, #e2906e 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

.all-keys {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 1.2rem;
}

.all-key-header {
  background: #3b319e;
}

.key-header-left {
  padding: 2rem 0 0rem 2rem;
  font-size: 2rem;
  color: #fff;
}

.all-key-body {
  background: #fff;
}

.btn-one {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

.btn-two {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #d180dd 0%, #796be8 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

.btn-one:hover {
  background: -webkit-linear-gradient(0deg, #e83a99 0%, #e2906e 100%);
}

.btn-two:hover {
  background: -webkit-linear-gradient(0deg, #796be8 0%, #d180dd 100%);
}

#generate-keys-body {
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
}

#generate-key-footer {
  margin-top: 1rem;
}

.green-btn {
  color: #fff;
  background-color: #7ce87c;
  border: none;
  border-radius: 0.2rem;
}

.no-scroll {
  overflow: hidden !important;
}

.key-select {
  padding-left: 12px;
}

.keys-input {
  height: calc(1.5em + 0.75rem + 10px);
}

#keyinfo-data {
  display: none;
}

.keyinfo-upgrades {
  background-color: #3b319e;
  color: #fff;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

.keyinfo-info {
  font-weight: bold;
  padding-left: 0.8rem;
}

.btn-three {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #db3995 0%, #8867df 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

.btn-three:hover {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #8867df 0%, #db3995 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

.btn-four {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #38ff96 0%, #35dfe8 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

.btn-four:hover {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #35dfe8 0%, #38ff96 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

.cookie-btn {
  background: -webkit-linear-gradient(0deg, #6ee275 0%, #76e83a 100%);
  box-shadow: 2.419px 9.703px 12.48px 0.52px rgb(171 243 186);
}

.btn-five {
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #ff8271 0%, #ee4730 100%);
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 2s ease;
}

.btn-six {
  background: -webkit-linear-gradient(0deg, #7c5aff 0%, #1b00e0 100%);
}

.search-another-key {
  background: #ff6454;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.support-response-btn {
  display: block;
  width: 100%;
  font-weight: bold;
  background: -webkit-linear-gradient(0deg, #5300cc 0%, #9500e7 100%);
  box-shadow: 2.419px 9.703px 12.48px 0.52px rgb(210 165 243);
}

.response-box {
  margin-top: 20%;
}

.some-background {
  background: #3b36aa;
}

.inputGroup-top {
  margin-top: 1rem;
}

.flag-icon {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 2rem;
  line-height: 1em;
  border-radius: 0.25rem;
  object-fit: cover;
  margin-right: 1rem !important;
  margin-top: 0.5rem;
}

section#payments {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

section#payments tbody tr {
  cursor: pointer;
}

.payments-table-cell {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.d-flex {
  display: flex;
  font-size: 14px;
  color: #3b368c;
}

.payments-table-cell span:first-child {
  font-size: 12px;
  color: #5a5690;
  font-weight: bold;
}

.flex-column {
  flex-direction: column;
}

.payment-badge {
  width: fit-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 25px;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.8rem;
  white-space: nowrap;
  text-transform: capitalize;
}

.badge-pending, .badge-subscription, .badge-active, .badge-approved, .badge-isp, .badge-success  {
    background: #FCAB0614;
    color: #fcab06;
}

.badge-complete, .badge-completed, .badge-awaiting-confirmation, .badge-subscription, .badge-active, .badge-approved, .badge-isp, .badge-success {
  background: #1FA83F14;
  color: #1fa83f;
}

.badge-failed, .badge-expired {
  background: #ff000024;
  color: #fc0606;
}


.txt-captialize {
  text-transform: capitalize;
}


#payments .pagination {
  display: flex;
}

#payments .pagination-stats {
  display: flex;
  flex: 1;
}

#payments .pagination-pages {
  display: flex;
}

#payments .pagination {
  padding-top: 1rem;
}

#pagination-pages-ul li {
  display: inline;
  background-color: #2f277e;
  border-radius: 50%;
}

#pagination-pages-ul li:hover {
  background-color: rgb(19 11 94);
  cursor: pointer;
}

#pagination-pages-ul li i {
  padding: 1rem 0.7rem;
  font-weight: bold;
  color: #fff;
}

.no-font-style {
  font-style: normal;
}


.pagination-pages {
  margin-top: -1.5rem;
}


.payments-custom-search {
  min-width: 25%;
  position: relative;
}

.payments-custom-search i {
  position: absolute;
  top: 50%;
  transform: translate(1rem, -50%);
  color: #b4afbc;
  right: 2rem;
}

.payments-custom-search input {
  border: 1px solid var(--gridLine);
  border-radius: 0.25rem;
  font-size: 14px;
  width: 100%;
  padding: 0 1rem;
  color: var(--darkFontColor);
  transition: border .3s ease;
  height: 48px;
  outline: none;
  background: transparent;
  font-family: inherit;
  padding: 1.5rem;
}


.payment-icon {
  border-radius: 100%;
  margin-right: 0.75rem;
  width: 3rem;
  height: 3rem;
}


.little-top-margin {
  margin-top: 0.3rem;
}



#payment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

#payment-header-right {
  margin-top: 0.3rem;
}


#payment-body {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  
}

.deliverd-goosds {
  margin-top: 1rem;
}

#payment-body > div {
  width: 25%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    font-size: 14px;
    line-height: 1.5rem;
    padding: 0.5rem;
}


.payment-detatil {
  background: #fff;
  margin-top: 3rem;
  border-radius: 0.5rem;
}


.country-data {
  display: flex;
  flex-direction: row-reverse;
}

#payment-footer {
  padding: 1.5rem;
}

.deliverd-goods {
  margin-top: 0.5rem;
}

.deliverd-goods h4 {
  font-size: 1.2rem
}

.deliverd-goods-list {
  white-space: normal;
  background-color: #f5f5f5;
  color: #4a4a4a;
  font-size: 0.875em;
  padding: 1.25rem 1.5rem;
  word-wrap: normal;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 15rem;
  max-height: 15rem;
}

.deliverd-goods-list p {
  margin-bottom: 0.5rem;
}

.stripe-stats {
  background: #6772e5 !important;
}

.crypto-stats {
  background: -webkit-linear-gradient(0deg, #f7931a 0%, #f7931a 100%) !important;
}

