.account-form .form-group button {
    width: 100%;
}

.toast-wrap {
    z-index: 9999999;
}

.account-wrapper {
    border-radius: 1rem;
    padding: 35px 0;
}


#success-upgrade {
    display: none;
}

.banner-content-2 p {
    margin: 0px
}

p.detatils-heading {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 5px;
}

.upgrade-pad-bot {
    padding-bottom: 0.8rem;
}

button#inviteAddress {
    background-color: #3b9aff;
    color: #fff;
    border-radius: 12px;
    width: 85%
}


.upgrade-pad-bottom {
    padding-bottom: 0.8rem;
}


.banner-button-group {
    margin: 0 auto;
    justify-content: center;
    margin-top: 1rem;
}

/* @media only screen and (max-width: 769px) { */
    /* .account-wrapper {
        background: #eff5fc;
        border-radius: 20px;
        padding: 33px;
    } */
/* } */


@media (max-width: 991px) {
    .banner-2 {
        background: #f0f5fc;
    }

    a.button-4 {
        text-align: center;
        width: 100%;
    }
}

p.logo-txt {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

p.logo-txt-upgrade-page {
    color: #3b368c;
    font-size: 28px;
    font-weight: bold;
}

li.disabled {
	opacity: 0.6;
    text-decoration: line-through;
}

b.automated-bold {
    color: #ff8a00;
}

section.faq-section.padding-top {
	margin-bottom: 125px;
}


#success-keyinfo {
    display: none 
}

#key-data {
    display: none
}

#upgrade-data {
    display: none;
}

#upgradeSentance {
    text-decoration: none;
    font-size: 18px;
}

#keySentance {
    text-decoration: none;
    font-size: 18px;
}

.keyinfo-text {
    font-size: 20px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1rem;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  #countryStock-modal-content {
    overflow: scroll;
    max-height: 60%;
    overflow-x: hidden;
  }
  
  #addCountry-modal-content {
    max-width: 50%;
    top: 15%;
  }
  

  .countryStock-modal-item {
    margin-bottom: 1.2rem;
    background-color: #4358f3;
    color: white;
    padding: 1.2rem;
    border-radius: 10px;
}


.modal-heading {
    padding-top: 1.2rem;
    padding-bottom: 1.6rem;
    font-size: 36px;
    line-height: 1;
}


.bg-diff {
    background: -webkit-linear-gradient(-65deg, #c165dd 0%, #1153fc 100%);
    font-weight: bold;
}

.cursor {
    cursor: pointer
}



.upgrader-alert {
    background-color: #8a68fd;
    color: #ffffff;
    font-weight: 700;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
    margin-top: -0.3rem;
}

.upgrader-alert p {
    font-size: 0.8rem;
    line-height: 1.8;
}

.upgrader-alert button {
    border: 0 !important;
    background: inherit !important;
    font-weight: inherit;
    font-size: inherit;
    height: auto;
    width: auto !important;
    color: #f48717 !important;
}

.upgrader-alert p a {
    color: #ff8a00;
}



#vpn-modal-content h5 {
    padding-top: 1.2rem;
    padding-bottom: 1.6rem;
    font-size: 36px;
    line-height: 1;
}

.bold {
    font-weight: bold
}


@media only screen and (max-width: 600px) {
    .modal-content {
        width: 80%
      }
}