<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/admin.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
</head>
<body>
    <!--============= ScrollToTop Section Starts Here =============-->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop Section Ends Here =============-->

    <!--============= NavBar Section Starts Here =============-->
    <%- include('./components/adminNavbar'); %>
    <!--============= NavBar Section Ends Here =============-->

     <!--============= Header Section Ends Here =============-->
     <section class="page-header bg_img" data-background="./assets/images/page-header.png">
        <div class="bottom-shape d-none d-md-block">
            <img src="./assets/css/img/page-header.png" alt="css">
        </div>
        <div class="container">
            <div class="page-header-content cl-white">
                <h2 class="title">Admin Payments</h2>
                <ul class="breadcrumb">
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                    <li>
                        Payments
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--============= Header Section Ends Here =============-->


    <!--============= Stats Section Ends Here =============-->
    <%- include('./components/adminPaymentStats'); %>
    <!--============= Stats Section Ends Here =============-->
    



    <!--============= Payments Section Ends Here =============-->
    <section id="payments">
        <div id="table-payments-options">
            <div class=""></div>
            <div class="payments-custom-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input id="payments-search-bar" placeholder="Search (Order ID or Email)" class="payments-search-input">
            </div>
        </div>

        <table class="table table-hover table-condensed">

            <thead>
                <tr>
                    <th>Info</th>
                    <th>Value</th>
                    <th>Status</th>
                    <th>Time</th>
                </tr>
            </thead>

            <tbody id="payments-table-body">
            </tbody>
        </table>

        <div class="pagination">

            <div class="pagination-stats">
                <p id="number-of-total-items">Loading...</p>
            </div>

            <div class="pagination-pages">
                <ul id="pagination-pages-ul">
                    <li data-job="down"><i class="fa-solid fa-caret-left"></i></li>
                    <li data-job="page-input"><i id="pagination-page-number" class="no-font-style">1</li>
                    <li data-job="up"><i id="pagination-page-up" class="fa-solid fa-caret-right"></i></li>
                </ul>
            </div>
        </div>
    </section>
    <!--============= Payments Section Ends Here =============-->
    


    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/modernizr-3.6.0.min.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/magnific-popup.min.js"></script>
    <script src="./assets/js/jquery-ui.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/waypoints.js"></script>
    <script src="./assets/js/nice-select.js"></script>
    <script src="./assets/js/owl.min.js"></script>
    <script src="./assets/js/counterup.min.js"></script>
    <script src="./assets/js/paroller.js"></script>
    <script src="./assets/js/countdown.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/custom/admin_payments.js"></script>
    <script src="./assets/js/custom/admin_signout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.min.js"></script>
</body>
</html>