<!DOCTYPE html>
<html>
<head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Play millions of songs ad-free, on-demand,a and offline without overpaying for Spotify premium.">
    <meta name="Keywords" content="upgrader.pw, upgraderpw, spotify upgrader, spotify, spotify account upgrade, spotify family upgrade,  spotify premium, lifetime spotify, cheap spotify">
    <meta property="og:title" content="Upgrader.PW - Spotify Upgsrader">
    <meta property="og:image" content="upgrader.pw/assets/images/img/favicon2-s.png">
    <meta property="og:url" content="https://upgrader.pw">
    <meta property="og:description" content="Upgrader.PW is a simple yet powerful site that allows you to upgrade to Spotify premium for just a few bucks!">
    <meta name="theme-color" content="#ffba00">
    <!-- Basic Information -->
    <title>Replacement</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <!-- StyleSheets -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/main.css?1222331">
    <link rel="stylesheet" href="./assets/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.css">
</head>
<body>
	<!--============= ScrollToTop & Loading Section Starts Here =============-->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span> 
            </div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop & Loading Section Ends Here =============-->



    <!--============= NavBar Section Starts Here =============-->
    <header class="header-section header-white-dark">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="/">
                        <!-- <img src="./assets/images/logo/logo2.png" alt="logo"> -->
                        <p class="logo-txt-upgrade-page">UPGRADER.PW</p>
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#0">Tools</a>
                        <ul class="submenu">
                            <li>
                                <a href="/upgrade">Upgrade</a>
                            </li>
                            <li>
                                <a href="/keyinfo">Key Info</a>
                            </li>
                            <li>
                                <a href="/replacement">Replacements</a>
                            </li>
                            <li>
                                <a href="/playlist-transfer">Playlist Transfer</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/#pricing">Pricing</a>
                    </li>
                    
            
                    <li>
                        <a href="/#faq">FAQs</a>
                    </li>
                    <li class="d-sm-none">
                        <a href="/discor" class="m-0 header-button">Join Discord</a>
                    </li>
                </ul>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header-right">
                    <a href="/discord" class="header-button d-none d-sm-inline-block">Join Discord</a>
                </div>
            </div>
        </div>
    </header>
    <!--============= NavBar Section Ends Here =============-->


    <!--============= Intro Section Starts Here =============-->
    <section class="banner-2 oh">
        <div class="banner-bg-2 bg_img" data-background="./assets/images/banner/banner-2.png"></div>
        <div class="elem-3">
            <img src="./assets/images/banner/t1.png" alt="counter">
        </div>
        <div class="elem-1">
            <img src="./assets/images/banner/t5.png" alt="counter">
        </div>
        <div class="elem-4">
            <img src="./assets/images/banner/t4.png" alt="counter">
        </div>
        <div class="elem-2">
            <img src="./assets/images/banner/t6.png" alt="counter">
        </div>
        <div class="elem-5">
            <img src="./assets/images/counter/tera.png" alt="counter">
        </div>
        <div class="elem-6">
            <img src="./assets/images/banner/t7.png" alt="counter">
        </div>
        <div class="elem-7">
            <img src="./assets/images/counter/tri2.png" alt="counter">
        </div>
        <div class="top-left d-none d-lg-block">
            <img src="./assets/images/banner/top-left.png" alt="counter">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-content-2">
                        <h1 class="title">Replacement</h1>
                        <!-- <p>
                            How to upgrade?
                        </p> -->

                            <div class="account-wrapper">
                                <div class="account-body">

                                    <form id="replacement-form" action="javascript:getReplacement()" class="account-form">
                                        <div class="form-group text-center">
                                            <button id="replacement-btn" class="mt-2 mb-2"><i class="fa-brands fa-spotify"></i> Claim Replacement</button>
                                        </div>
                                    </form>

                                    <div id="success-upgrade">
                                        <p class="detatils-heading">Invite Link:</p>
                                        <a id="inviteLink" href="#">Click To Upgrade</a>
                                        <div class="upgrade-pad-bot"></div>
                                        <p class="detatils-heading">Invite Address:</p>
                                        <button id="inviteAddress">Loading...</button>
                                        <div class="upgrade-pad-bot"></div>
                                        <p class="detatils-heading">Country:</p>
                                        <a id="inviteCountry">Loading...</a>
                                    </div>

                                </div>
                            </div>

                        <!-- <div class="banner-button-group">
                            <a href="/#pricing" class="button-4">Purchase a key</a>
                            <a target="_tab" href="//youtube.com" class="button-4 active">How to upgrade</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-1-slider-wrapper">
                        <div class="banner-1-slider owl-carousel owl-theme">
                            <div class="banner-thumb">
                                <img src="./assets/images/feature/feat5.png" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Intro Section Ends Here =============-->


    <!--============= Support Section Starts Here =============-->
    <section class="help-section padding-bottom padding-top oh">
        <div class="container">
            <div class="section-header">
                <h5 class="cate">Stop wasting time</h5>
                <h2 class="title">Need Some Help?</h2>
                <p>
                    Whether you’re stuck or just want some tips on where to start, any problem, hit up our experts anytime.
                </p>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-6 rtl d-none d-lg-block">
                    <img src="./assets/images/feature/help.png" alt="feature">
                </div>
                <div class="col-lg-6 col-xl-5 mb-30-none">
                    <div class="help-item">
                        <div class="help-thumb">
                            <img src="./assets/images/feature/help1.png" alt="help">
                        </div>
                        <div class="help-content">
                            <h5 class="title">live chat</h5>
                            <p><a href="#">Currently unavaliable</a></p>
                        </div>
                    </div>
                    <div class="help-item">
                        <div class="help-thumb">
                            <img src="./assets/images/feature/help2.png" alt="help">
                        </div>
                        <div class="help-content">
                            <h5 class="title">Discord</h5>
                            <p><a href="/discord">Click here to join Discord</a></p>
                        </div>
                    </div>
                    <div class="help-item">
                        <div class="help-thumb">
                            <img src="./assets/images/feature/help3.png" alt="help">
                        </div>
                        <div class="help-content">
                            <h5 class="title">Explore FAQs</h5>
                            <p><a href="/#faq">Go to FAQs page</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Support Section Ends Here =============-->

    <!--============= Footer Section Starts Here =============-->
    <footer id="faq" class="footer-section bg_img" data-background="./assets/images/footer/footer-bg.jpg">
        <div class="container">
            <div class="footer-top padding-top padding-bottom">
                <div class="logo">
                    <a href="#0">
                        <p class="logo-txt">UPGRADER</p>
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="/discord" class="active"><i class="fab fa-discord"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-headset"></i></a>
                    </li>
                    <li>
                        <a href="#faq"><i class="fas fa-question"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <ul class="footer-link">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/upgrade">Upgrade</a>
                    </li>
                    <li>
                        <a href="/replacement">Replacement</a>
                    </li>
                    <li>
                        <a href="/#pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="/#faq">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>
                    Copyright © 2022. All Rights Reserved By <a href="/">Upgrader.PW</a>
                </p>
                <p style="padding-top: 5px;">
                    NOTE: We Have No Affilation With Spotify.
                </p>
            </div>
        </div>
    </footer>
    <!--============= Footer Section Ends Here =============-->







    <!-- Scripts -->
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/modernizr-3.6.0.min.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/magnific-popup.min.js"></script>
    <script src="./assets/js/jquery-ui.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/waypoints.js"></script>
    <script src="./assets/js/nice-select.js"></script>
    <script src="./assets/js/owl.min.js"></script>
    <script src="./assets/js/counterup.min.js"></script>
    <script src="./assets/js/paroller.js"></script>
    <script src="./assets/js/main.js"></script>    
    <script src="./assets/js/custom/client_repalcement.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.min.js"></script>
</body>
</html>