<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Play millions of songs ad-free, on-demand, and offline without overpaying for Spotify premium.">
    <meta name="Keywords" content="upgrader.pw, upgraderpw, spotify upgrader, spotify, spotify account upgrade, spotify family upgrade,  spotify premium, lifetime spotify, cheap spotify">
    <meta property="og:title" content="Upgrader.PW - Spotify Upgrader">
    <meta property="og:image" content="upgrader.pw/assets/images/img/favicon2-s.png">
    <meta property="og:url" content="https://upgrader.pw">
    <meta property="og:description" content="Upgrader.PW is a simple yet powerful site that allows you to upgrade to Spotify premium for just a few bucks!">
    <meta name="theme-color" content="#ffba00">
    <!-- Basic Information -->
    <title>Upgrader.PW | #1 Spotify Upgrader</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <!-- StyleSheets -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/main.css?1222331">
    <link rel="stylesheet" type="text/css" href="./assets/css/landing-custom.css?v=88787">
</head>
<body>
    <!--============= ScrollToTop & Loading Section Starts Here =============-->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop & Loading Section Ends Here =============-->


    <!--============= NavBar Section Starts Here =============-->
    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="/">
                        <p class="logo-txt">UPGRADER.PW</p>
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a>Tools</a>
                        <ul class="submenu">
                            <li>
                                <a href="/upgrade">Upgrade</a>
                            </li>
                            <li>
                                <a href="/keyinfo">Key Info</a>
                            </li>
                            <li>
                                <a href="/replacement">Replacements</a>
                            </li>
                            <li>
                                <a href="/transfer">Playlist Transfer</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="#faq">FAQs</a>
                    </li>
                    <li class="d-sm-none">
                        <a href="/upgrade" class="m-0 header-button">UPGRADE</a>
                    </li>
                </ul>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header-right">
                    <a href="/upgrade" class="header-button d-none d-sm-inline-block">UPGRADE</a>
                </div>
            </div>
        </div>
    </header>
    <!--============= NavBar Section Ends Here =============-->


    <!--============= Introduction Section Starts Here =============-->
    <section class="banner-1 bg_img oh" data-background="./assets/images/banner/banner-bg-1.jpg">
        <div class="dot-1 d-none d-lg-block">
            <img src="./assets/images/banner/dot-big.png" alt="banner">
        </div>
        <div class="dot-2 d-none d-lg-block">
            <img src="./assets/images/banner/dot-big.png" alt="banner">
        </div>
        <div class="dot-3">
            <img src="./assets/images/banner/dot-sm.png" alt="banner">
        </div>
        <div class="dot-4">
            <img src="./assets/images/banner/dot-sm.png" alt="banner">
        </div>
        <div class="banner-1-shape d-none d-lg-block">
            <img id="banner-1-shape-img" src="./assets/css/img/banner1-shape.png" alt="css">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-content-1 cl-white">
                        <h1 id="intro-title" class="title">The Perfect Spotify Upgrader</h1>
                        <p id="intro-desc">
                            A simple yet a powerful tool to take care of all your music needs.
                        </p>
                        <div class="banner-button-group">
                            <a href="#pricing" class="button-4">Click Here to Purchase</a>
                            <a href="/discord" class="button-4 active">Join Discord</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-1-slider-wrapper">
                        <div class="banner-1-slider owl-carousel owl-theme">
                            <div class="banner-thumb">
                                <img style="width: 80%" src="./assets/images/feature/experience.png" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Introduction Section Ends Here =============-->


    <!--============= Amazing Feature Section Starts Here =============-->
    <section class="amazing-feature-section pos-rel" id="feature">
        <div class="shape-container oh">
            <div class="bg_img feature-background" data-background="./assets/images/bg/amazing-feature-bg.jpg"></div>
            <div class="feature-top-shape d-none d-lg-block">
                <img id="feature-top-shape" src="./assets/css/img/feature-shape.png" alt="css">
            </div>
        </div>
        <div class="topper-feature oh padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-header left-style mb-lg-0 white-lg-black pos-rel">
                            <h5 class="cate">Explore Upgrader.PW</h5>
                            <h2 id="feature-title-h2" class="title">An easy to watch tutorial</h2>
                            <p id="feature-desc-p">With our wide rang of features and with the ease of use, you can rest asure to be able to get Spotify premium in a matter of seconds for just a few bucks!</p>
                            <div class="downarrow d-none d-lg-block">
                                <img src="./assets/images/feature/downarrow.png" alt="feature">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <a href="https://www.youtube.com/watch?v=hFKLjJBz2-s" class="feature-video-area popup">
                            <div class="thumb">
                                <img src="./assets/images/feature/fature-video.png" alt="feature">
                            </div>
                            <div class="button-area">
                                <h4 class="title">
                                    Watch Videos
                                </h4>
                                <div class="video-button">
                                    <i class="flaticon-play"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="amazing-feature-bottom padding-top padding-bottom pb-lg-0 pt-lg-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-7">
                        <div class="section-header left-style cl-white">
                            <h5 class="cate">A Collection of Prominent Features</h5>
                            <h2 id="feature-title-h2-2" class="title">Delivering Exceptional User Experiences.</h2>
                            <p id="feature-desc-p-2">Numerous features make it possible to customize the system
                                in accordance with all your needs.</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center mb-30-none">
                            <div class="col-sm-6 col-lg-3">
                                <div class="am-item">
                                    <div class="am-thumb">
                                        <img src="./assets/images/feature/am-fea1.png" alt="feature">
                                    </div>
                                    <div class="am-content">
                                        <h5 class="title">One Click Upgrade</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="am-item">
                                    <div class="am-thumb">
                                        <img src="./assets/images/feature/am-fea2.png" alt="feature">
                                    </div>
                                    <div class="am-content">
                                        <h5 class="title">Auto Replacements</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="am-item">
                                    <div class="am-thumb">
                                        <img src="./assets/images/feature/am-fea3.png" alt="feature">
                                    </div>
                                    <div class="am-content">
                                        <h5 class="title">24/7 Online Support</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="am-item">
                                    <div class="am-thumb">
                                        <img src="./assets/images/feature/am-fea4.png" alt="feature">
                                    </div>
                                    <div class="am-content">
                                        <h5 class="title">100% Safe & Secure</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Amazing Feature Section Ends Here =============-->
    

    <!--============= How Section Starts Here =============-->
    <section class="how-section padding-bottom padding-top" id="how">
        <div class="container">
            <div class="section-header">
                <h5 class="cate">How To Upgrade</h5>
                <h2 class="title">Let’s See How It Work</h2>
                <p>It's easier than you think. Follow three simple easy steps!</p>
            </div>
            <div class="row justify-content-xl-between justify-content-center mb-40-none">
                <div class="col-lg-4 col-sm-6 col-xl-3">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how1.png" alt="how">
                        </div>
                        <div class="how-content">
                            <a href="#pricing" id="howSectionPurchaseButton" class="button-3 active">Purchase A Key</a>
                            <h5 class="title">Purchase your key</h5>
                            <p>Purchase your choice of key from the avaliable options</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how2.png" alt="how">
                        </div>
                        <div class="how-content">
                            <a href="/upgrade" class="button-3">Upgrade Account</a>
                            <h5 class="title">Upgrade your account</h5>
                            <p>Enter your key, email, country, and click upgrade!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how3.png" alt="how">
                        </div>
                        <div class="how-content">
                            <a href="#faq" class="button-3">Enjoy The Upgrade</a>
                            <h5 class="title">Enjoy your music</h5>
                            <p>if you have any enquires, please be sure to check <a href="#faq">FAQs</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= How Section Ends Here =============-->


    <!--============= Pricing Section Starts Here =============-->
    <section class="pricing-section padding-top oh padding-bottom pb-md-0 bg_img pos-rel" data-background="./assets/images/bg/pricing-bg.jpg" id="pricing">
        <div class="top-shape d-none d-md-block">
            <img id="pricing-top-shape" src="./assets/css/img/top-shape.png" alt="css">
        </div>
        <div class="bottom-shape d-none d-md-block">
            <img src="./assets/css/img/bottom-shape.png" alt="css">
        </div>
        <div class="ball-2" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
        data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/1.png" alt="balls">
        </div>
        <div class="ball-3" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30"
        data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/2.png" alt="balls">
        </div>
        <div class="ball-4" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30"
        data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/3.png" alt="balls">
        </div>
        <div class="ball-5" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30"
        data-paroller-type="foreground" data-paroller-direction="vertical">
            <img src="./assets/images/balls/4.png" alt="balls">
        </div>
        <div class="ball-6" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
        data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/5.png" alt="balls">
        </div>
        <div class="ball-7" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
        data-paroller-type="foreground" data-paroller-direction="vertical">
            <img src="./assets/images/balls/6.png" alt="balls">
        </div>
        <div class="container">
            <div class="section-header pb-30 cl-white">
                <h5 class="cate">Choose a plan that's right for you</h5>
                <h2 class="title">Simple Pricing Plans</h2>
                <p>
                    We offer personal and reseller plans. Not sure what to pick? Or nothing fits your budget or requirements? Just contact us for custom plans just built for you!
                </p>
            </div>
            <div class="range-wrapper-2">
                <div class="tab-up">
                <ul class="tab-menu pricing-menu cl-black">
                    <li class="active">Personal</li>
                    <li>Resell</li>
                </ul>
                <div class="tab-area mb-sm-4">
                    <div class="tab-item active">
                        <div class="pricing-area-16">

                            <div class="pricing-item-16">
                                <div class="pricing-header">
                                    <h5 class="subtitle">One-time Upgrade</h5>
                                </div>
                                <ul>
                                    <li>1 Upgrade Key</li>
                                    <li>Spotify <b>Premium</b></li>
                                    <li class="disabled"><b>Unlimited</b> Replacements</li>
                                    <li class="disabled">Tool Access</li>
                                    <li class="disabled">Whitelabled</li>
                                    <li class="disabled">Reseller Panel</li>
                                </ul>
                                <h2 class="title"><sup>$</sup>2.20</h2>
                                <a class="button-3 disabled-btn" disabled>Unavaliable</i></a>
                                <br>
                                <a class="button-3 disabled-btn" disabled>Unavaliable</a>
                            </div>

                            <div class="pricing-item-16 active">
                                <div class="price-tags">Popular</div>
                                <div class="pricing-header">
                                    <h5 class="subtitle">Personal Upgrade</h5>
                                </div>
                                <ul>
                                    <li>1 Upgrade Key</li>
                                    <li><b>Lifetime</b> Spotify</li>
                                    <li><b>Unlimited</b> Replacements</li>
                                    <li>Tool Access</li>
                                    <li class="disabled">Whitelabled</li>
                                    <li class="disabled">Reseller Panel</li>
                                </ul>
                                <h2 class="title"><sup>$</sup>4.50</h2>
                                <a class="button-3 active" data-sellix-product="5facc00211e75">PayPal <i class="fab fa-paypal"></i></a>
                                <br>
                                <a class="button-3 active" data-sellix-product="5facc60954302">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                            </div>

                            <div class="pricing-item-16">
                                <div class="pricing-header">
                                    <h5 class="subtitle">Family Upgrade</h5>
                                </div>
                                <ul>
                                    <li>5 Upgrade Key</li>
                                    <li><b>Lifetime</b> Spotify</li>
                                    <li><b>Unlimited</b> Replacements</li>
                                    <li>Tool Access</li>
                                    <li class="disabled">Whitelabled</li>
                                    <li class="disabled">Reseller Panel</li>
                                </ul>
                                <h2 class="title"><sup>$</sup>18.75</h2>
                                <a class="button-3 active" data-sellix-product="5facc79d449d3">PayPal <i class="fab fa-paypal"></i></a>
                                <br>
                                <a class="button-3 active" data-sellix-product="5facc7152ccb6">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                            </div>
                            
                            <div class="pricing-item-16">
                                <div class="pricing-header">
                                    <h5 class="subtitle">Party Upgrade</h5>
                                </div>
                                <ul>
                                    <li>9 Upgrade Key</li>
                                    <li><b>Lifetime</b> Spotify</li>
                                    <li><b>Unlimited</b> Replacements</li>
                                    <li>Tool Access</li>
                                    <li class="disabled">Whitelabled</li>
                                    <li class="disabled">Reseller Panel</li>
                                </ul>
                                <h2 class="title"><sup>$</sup>35.00</h2>
                                <a class="button-3 active" data-sellix-product="5facc93383f93">PayPal <i class="fab fa-paypal"></i></a>
                                <br>
                                <a class="button-3 active" data-sellix-product="5facc8cf4cf53">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="tab-item">
                        <div class="pricing-area-16">

                            <div class="pricing-item-16">
                                <div class="pricing-header">
                                    <h5 class="subtitle">Starter Plan</h5>
                                </div>
                                <ul>
                                    <li>25 Upgrade Key</li>
                                    <li><b>Lifetime</b> Spotify</li>
                                    <li><b>Unlimited</b> Replacements</li>
                                    <li>Tool Access</li>
                                    <li>Whitelabled</li>
                                    <li class="disabled">Reseller Panel</li>
                                </ul>
                                <h2 class="title"><sup>$</sup>85.00</h2>
                                <a class="button-3 active" data-sellix-product="5facd47e17888">PayPal <i class="fab fa-paypal"></i></a>
                                <br>
                                <a class="button-3 active" data-sellix-product="5facd5d412c23">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                            </div>

                            <div class="pricing-item-16">
                                <div class="pricing-header">
                                    <h5 class="subtitle">Pro Plan</h5>
                                </div>
                                <ul>
                                    <li>60 Upgrade Key</li>
                                    <li><b>Lifetime</b> Spotify</li>
                                    <li><b>Unlimited</b> Replacements</li>
                                    <li>Tool Access</li>
                                    <li>Whitelabled</li>
                                    <li>Basic Panel</li>
                                </ul>
                                <h2 class="title"><sup>$</sup>150.00</h2>
                                <a class="button-3 active" data-sellix-product="5facd79c8c3bc">PayPal <i class="fab fa-paypal"></i></a>
                                <br>
                                <a class="button-3 active" data-sellix-product="5facd685d5262">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                            </div>

                            <div class="pricing-item-16 active">
                                <div class="price-tags">Popular</div>
                                <div class="pricing-header">
                                    <h5 class="subtitle">God Plan</h5>
                                </div>
                                <ul>
                                    <li>120 Upgrade Key</li>
                                    <li><b>Lifetime</b> Spotify</li>
                                    <li><b>Unlimited</b> Replacements</li>
                                    <li>Tool Access</li>
                                    <li>Whitelabled</li>
                                    <li>Advance Panel</li>
                                </ul>
                                <h2 class="title"><sup>$</sup>255.00</h2>
                                <a class="button-3 active" data-sellix-product="5facdb778f00f">PayPal <i class="fab fa-paypal"></i></a>
                                <br>
                                <a class="button-3 active" data-sellix-product="5facd8780daeb">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                            </div>

                            <div class="pricing-item-16">
                                <div class="pricing-header">
                                    <h5 class="subtitle">Ultimate Plan</h5>
                                </div>
                                <ul>
                                    <li>250 Upgrade Key</li>
                                    <li><b>Lifetime</b> Spotify</li>
                                    <li><b>Unlimited</b> Replacements</li>
                                    <li>Tool Access</li>
                                    <li>Whitelabled</li>
                                    <li>Custom Panel</li>
                                </ul>
                                <h2 class="title"><sup>$</sup>455.50</h2>
                                <a class="button-3 active" data-sellix-product="5facdc3928e1f">PayPal <i class="fab fa-paypal"></i></a>
                                <br>
                                <a class="button-3 active" data-sellix-product="5facd971eeef8">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                            </div>

                        </div>
                    </div>
                
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--============= Pricing Section Ends Here =============-->


    <!--============= Faq Section Starts Here =============-->
    <section id="faq" class="faq-section padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq-header">
                        <div class="cate">
                            <img src="./assets/images/cate.png" alt="cate">
                        </div>
                        <h2 class="title">Frequently Asked Questions</h2>
                        <a href="/discord">Contact Support <i class="flaticon-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-wrapper mb--38">
                        <div class="faq-item">
                            <div class="faq-thumb">
                                <i class="flaticon-pdf"></i>
                            </div>
                            <div class="faq-content">
                                <h4 class="title">Are there requirements for upgrading?</h4>
                                <p>
                                    Your account must be on the free plan & your account must have not been part of a family account within the last 12 months.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-thumb">
                                <i class="flaticon-pdf"></i>
                            </div>
                            <div class="faq-content">
                                <h4 class="title">I still have not received my key</h4>
                                <p>
                                    Please make sure you check your spam inbox, if you still cannot find it, please contact support.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-thumb">
                                <i class="flaticon-pdf"></i>
                            </div>
                            <div class="faq-content">
                                <h4 class="title">My account is no longer premium</h4>
                                <p>
                                    If you lost your premium, please head over to the replacement page to reupgrade with eligible keys*.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-thumb">
                                <i class="flaticon-pdf"></i>
                            </div>
                            <div class="faq-content">
                                <h4 class="title">What does "Lifetime Premium" & "Unlimited Replacements" mean?</h4>
                                <p>
                                    If your premium ever drops with an eligible key upgrade, we will replace it for you at no addational cost as long as we provide our services. However, no user error is covered and you may required to purchase another key.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Faq Section Ends Here =============-->


    <!--============= Footer Section Starts Here =============-->
    <footer id="faq" class="footer-section bg_img" data-background="./assets/images/footer/footer-bg.jpg">
        <div class="container">
            <div class="footer-top padding-top padding-bottom">
                <div class="logo">
                    <a href="#0">
                        <p class="logo-txt">UPGRADER</p>
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="/discord" class="active"><i class="fab fa-discord"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-headset"></i></a>
                    </li>
                    <li>
                        <a href="#faq"><i class="fas fa-question"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <ul class="footer-link">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="/upgrade">Upgrade</a>
                    </li>
                    <li>
                        <a href="/replacement">Replacement</a>
                    </li>
                    <li>
                        <a href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="#faqs">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>
                    Copyright © 2022. All Rights Reserved By <a href="/">Upgrader.PW</a>
                </p>
                <p style="padding-top: 5px;">
                    NOTE: We Have No Affilation With Spotify.
                </p>
            </div>
        </div>
    </footer>
    <!--============= Footer Section Ends Here =============-->


    <!-- Scripts -->
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/modernizr-3.6.0.min.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/magnific-popup.min.js"></script>
    <script src="./assets/js/jquery-ui.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/waypoints.js"></script>
    <script src="./assets/js/nice-select.js"></script>
    <script src="./assets/js/owl.min.js"></script>
    <script src="./assets/js/counterup.min.js"></script>
    <script src="./assets/js/paroller.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/custom/client_sellix.js"></script>
</body>
</html>