<!--============= Pricing Section Starts Here =============-->
<section class="pricing-section padding-top oh padding-bottom pb-md-0 bg_img pos-rel" data-background="./assets/images/bg/pricing-bg.jpg" id="pricing">
    <div class="top-shape d-none d-md-block">
        <img id="pricing-top-shape" src="./assets/css/img/top-shape.png" alt="css">
    </div>
    <div class="bottom-shape d-none d-md-block">
        <img src="./assets/css/img/bottom-shape.png" alt="css">
    </div>
    <div class="ball-2" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
    data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="./assets/images/balls/1.png" alt="balls">
    </div>
    <div class="ball-3" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30"
    data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="./assets/images/balls/2.png" alt="balls">
    </div>
    <div class="ball-4" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30"
    data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="./assets/images/balls/3.png" alt="balls">
    </div>
    <div class="ball-5" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30"
    data-paroller-type="foreground" data-paroller-direction="vertical">
        <img src="./assets/images/balls/4.png" alt="balls">
    </div>
    <div class="ball-6" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
    data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="./assets/images/balls/5.png" alt="balls">
    </div>
    <div class="ball-7" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
    data-paroller-type="foreground" data-paroller-direction="vertical">
        <img src="./assets/images/balls/6.png" alt="balls">
    </div>
    <div class="container">
        <div class="section-header pb-30 cl-white">
            <h5 class="cate">Choose a plan that's right for you</h5>
            <h2 class="title">Simple Pricing Plans</h2>
            <p>
                Mosto has plans, from free to paid, that scale with your needs. Subscribe to a plan that fits the size of your business.
            </p>
        </div>
        <div class="range-wrapper-2">
            <div class="tab-up">
            <!-- <ul class="tab-menu pricing-menu cl-black">
                <li class="active">Personal</li>
                <li>Resell</li>
            </ul> -->
            <div class="tab-area mb-sm-4">
                <div class="tab-item active">
                    <div class="pricing-area-16">
                        <div class="pricing-item-16">
                            <div class="pricing-header">
                                <div class="icon">
                                    <img src="./assets/images/extra/pricing/01.png" alt="extra/pricing">
                                </div>
                                <h5 class="subtitle">One-time Key</h5>
                            </div>
                            <ul>
                                <li>1 Upgrade Key</li>
                                <li>Spotify <b>Premium</b></li>
                                <li class="disabled"><b>Unlimited</b> Replacements</li>
                                <li class="disabled">Tool Access</li>
                                <li class="disabled">Whitelabled</li>
                                <li class="disabled">Reseller Panel</li>
                            </ul>
                            <h2 class="title"><sup>$</sup>2.50</h2>
                            <a class="button-3 active">PayPal <i class="fab fa-paypal"></i></a>
                            <br>
                            <a class="button-3 active">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                        </div>
                        
                        <div class="pricing-item-16 active">
                            <div class="price-tags">Popular</div>
                            <div class="pricing-header">
                                <div class="icon">
                                    <img src="./assets/images/extra/pricing/02.png" alt="extra/pricing">
                                </div>
                                <h5 class="subtitle">Premium Key</h5>
                            </div>
                            <ul>
                                <li>1 Upgrade Key</li>
                                <li><b>Lifetime</b> Spotify</li>
                                <li>Fully <b class="automated-bold">Automated</b></li>
                                <li><b>Unlimited</b> Replacements</li>
                                <li>Tool Access</li>
                                <li class="disabled">Whitelabled</li>
                                <li class="disabled">Reseller Panel</li>
                            </ul>
                            <h2 class="title"><sup>$</sup>7.95</h2>
                            <a class="button-3 active">PayPal <i class="fab fa-paypal"></i></a>
                            <br>
                            <a class="button-3 active">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                        </div>
                        
                        <div class="pricing-item-16">
                            <div class="pricing-header">
                                <div class="icon">
                                    <img src="./assets/images/extra/pricing/03.png" alt="extra/pricing">
                                </div>
                                <h5 class="subtitle">Personal Key</h5>
                            </div>
                            <ul>
                                <li>1 Upgrade Key</li>
                                <li><b>Lifetime</b> Spotify</li>
                                <li><b>Unlimited</b> Replacements</li>
                                <li>Tool Access</li>
                                <li class="disabled">Whitelabled</li>
                                <li class="disabled">Reseller Panel</li>
                            </ul>
                            <h2 class="title"><sup>$</sup>6.45</h2>
                            <a class="button-3 active">PayPal <i class="fab fa-paypal"></i></a>
                            <br>
                            <a class="button-3 active">Cryptocurrency <i class="fab fa-bitcoin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <div class="pricing-area-16">
                        <div class="pricing-item-16">
                            <div class="pricing-header">
                                <div class="icon">
                                    <img src="./assets/images/extra/pricing/01.png" alt="extra/pricing">
                                </div>
                                <h5 class="subtitle">Starter</h5>
                            </div>
                            <ul>
                                <li>Only pay when you publish</li>
                                <li>Full Featured Event App</li>
                                <li>Unlimited feature use</li>
                                <li>24/7 Support</li>
                                <li>Event Analytics</li>
                            </ul>
                            <h2 class="title"><sup>$</sup>499</h2>
                            <a href="#0" class="button-3 active">Start free trial</a>
                        </div>
                        <div class="pricing-item-16 active">
                            <div class="pricing-header">
                                <div class="icon">
                                    <img src="./assets/images/extra/pricing/02.png" alt="extra/pricing">
                                </div>
                                <h5 class="subtitle">Premium</h5>
                            </div>
                            <ul>
                                <li>Only pay when you publish</li>
                                <li>Full Featured Event App</li>
                                <li>Unlimited feature use</li>
                                <li>24/7 Support</li>
                                <li>Event Analytics</li>
                            </ul>
                            <h2 class="title"><sup>$</sup>599</h2>
                            <a href="#0" class="button-3 active">Start free trial</a>
                        </div>
                        <div class="pricing-item-16">
                            <div class="pricing-header">
                                <div class="icon">
                                    <img src="./assets/images/extra/pricing/03.png" alt="extra/pricing">
                                </div>
                                <h5 class="subtitle">Business</h5>
                            </div>
                            <ul>
                                <li>Only pay when you publish</li>
                                <li>Full Featured Event App</li>
                                <li>Unlimited feature use</li>
                                <li>24/7 Support</li>
                                <li>Event Analytics</li>
                            </ul>
                            <h2 class="title"><sup>$</sup>699</h2>
                            <a href="#0" class="button-3 active">Start free trial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<!--============= Pricing Section Ends Here =============-->