<!--============= Footer Section Starts Here =============-->
<footer id="faq" class="footer-section bg_img" data-background="./assets/images/footer/footer-bg.jpg">
    <div class="container">
        <div class="footer-top padding-top padding-bottom">
            <div class="logo">
                <a href="#0">
                    <p class="logo-txt">UPGRADER</p>
                </a>
            </div>
            <ul class="social-icons">
                <li>
                    <a href="/discord" class="active"><i class="fab fa-discord"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-headset"></i></a>
                </li>
                <li>
                    <a href="#faq"><i class="fas fa-question"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <ul class="footer-link">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/upgrade">Upgrade</a>
                </li>
                <li>
                    <a href="/replacement">Replacement</a>
                </li>
                <li>
                    <a href="/affilate">Affilate System</a>
                </li>
                <li>
                    <a href="#pricing">Pricing</a>
                </li>
                <li>
                    <a href="#faqs">FAQs</a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <p>
                Copyright © <%- new Date().getFullYear() %>. All Rights Reserved By <a href="/">Upgrader.PW</a>
            </p>
            <p style="padding-top: 5px;">
                NOTE: We Have No Affiliation With Spotify.
            </p>
        </div>
    </div>
</footer>
<!--============= Footer Section Ends Here =============-->