<% if (user.role == "admin") { %>
<div class="feature-section padding-top padding-bottom">
    <div class="container">
        <div class="owl-theme owl-carousel feature-item-2-slider mb--50">
            <div class="feature-item-2">
                <div class="feature-thumb">
                    <img src="./assets/images/feature/featurei1.png" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Keys</h4>
                    <p><%- totalKeys %></p>
                </div>
            </div>
            <div class="feature-item-2">
                <div class="feature-thumb">
                    <img src="./assets/images/feature/featurei2.png" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Countries</h4>
                    <p><%- totalCountries %></p>
                </div>
            </div>
            <div class="feature-item-2">
                <div class="feature-thumb">
                    <img src="./assets/images/feature/featurei3.png" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Stock</h4>
                    <p><%- totalStock %></p>
                </div>
            </div>
            <!-- <div class="feature-item-2">
                <div class="feature-thumb">
                    <img src="./assets/images/feature/featurei3.png" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Sellix Orders</h4>
                    <p>Integration Pending</p>
                </div>
            </div> -->
            <div class="feature-item-2">
                <div class="feature-thumb">
                    <img src="./assets/images/feature/featurei3.png" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Total Payments</h4>
                    <p><%- totalPayments %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<% } else { %>
    <div class="margin-bottom"></div>
<% } %>


