<!--============= Affilate FAQs Starts Here =============-->
<section id="faq" class="faq-section padding-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="faq-header">
          <div class="cate">
            <img src="./assets/images/cate.png" alt="cate" />
          </div>
          <h2 class="title">Frequently Asked Questions</h2>
          <a target="_tab" href="/discord"
            >Contact Support <i class="flaticon-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-wrapper mb--38">
          <div class="faq-item">
            <div class="faq-thumb">
              <i class="flaticon-pdf"></i>
            </div>
            <div class="faq-content">
              <h4 class="title">
                Can I change my commission rate and payment detatils later?
              </h4>
              <p>
                Yes! You can update your commission rate and payment detatils
                via your account settings.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-thumb">
              <i class="flaticon-pdf"></i>
            </div>
            <div class="faq-content">
              <h4 class="title">How does the commission work?</h4>
              <p>
                You as the affilate choose the amount of affilate % you would
                like to earn per sale. The amount you enter will influnce the
                price your refeers see when they visit Upgrader.PW - For e.g;
                The Personal plan is listed for $5.99 on Upgrader.PW and you
                choose 100% commission rate - Users that visit the site with
                your affilate link will see $11.98 and once the make the
                purchase, you will earn the $5.99 in this case.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-thumb">
              <i class="flaticon-pdf"></i>
            </div>
            <div class="faq-content">
              <h4 class="title">How do I get paid?</h4>
              <p>
                Once you have a minimum of $25 USD earned on your account, you
                can create a payout request via your affilate dashboard to your
                payment method.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-thumb">
              <i class="flaticon-pdf"></i>
            </div>
            <div class="faq-content">
              <h4 class="title">Are there any fees?</h4>
              <p>
                We charge Fees based on the payment method your refeers choose.
                It is a fixed fee of $0.15 + 1.45% on Stripe (Credit/Debit
                cards) transcations and 0.05% fee on Cryptocurrency
                transcations. The avaliable earnings you see will already have
                accounted for this fee.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-thumb">
              <i class="flaticon-pdf"></i>
            </div>
            <div class="faq-content">
              <h4 class="title">What If the user I refered opens a dispute?</h4>
              <p>
                The amount will be subtracted from your avaliable earnings and
                payouts automatically.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============= Affilate FAQs Ends Here =============-->