<header class="header-section inner-header">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/">
                    <p class="logo-txt-upgrade-page">UPGRADER.PW</p>
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#0">Tools</a>
                    <ul class="submenu">
                        <li>
                            <a href="/upgrade">Upgrade</a>
                        </li>
                        <li>
                            <a href="/keyinfo">Key Info</a>
                        </li>
                        <li>
                            <a href="/replacement">Replacements</a>
                        </li>
                        <!-- <li>
                            <a href="/playlist-transfer">Playlist Transfer</a>
                        </li> -->
                        <li>
                            <a href="/login">Affilate System</a>
                        </li>
                    </ul>
                </li>
                <style>
                    
                </style>
                <li>
                    <a href="#0">Support</a>
                    <ul class="submenu">
                        <li>
                            <a href="/blog">Blog <span class="new-link">New</span></a>
                        </li>
                        <li>
                            <a href="/#faq">FAQs</a>
                        </li>
                        <li>
                            <a target="_blank" href="/discord">Discord</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/#pricing">Pricing</a>
                </li>
                <li class="d-sm-none">
                    <a href="/discord" target="_blank" class="m-0 header-button">Join Discord</a>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span> 
                <span></span>
            </div>
            <div class="header-right">
                <a href="/discord" target="_blank" class="header-button d-none d-sm-inline-block">Join Discord</a>
            </div>
        </div>
    </div>
</header>